<a href="https://colab.research.google.com/github/CleberJesus/Analise-de-dados/blob/main/Aula1_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **An√°lise de dados com PYthon e Pandas**

In [1]:
#importando biblioteca pandas
import pandas as pd

In [9]:
#,sep=";"
df = pd.read_csv("/telecom_users.csv",error_bad_lines=False)

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:3326: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version.


  exec(code_obj, self.user_global_ns, self.user_ns)

In [10]:
#lendo a base de dados
df.head()

,Unnamed: 0,IDCliente,Genero,Aposentado,Casado,Dependentes,MesesComoCliente,ServicoTelefone,MultiplasLinhas,ServicoInternet,...,ServicoSuporteTecnico,ServicoStreamingTV,ServicoFilmes,TipoContrato,FaturaDigital,FormaPagamento,ValorMensal,TotalGasto,Churn,Codigo
0,1869,7010-BRBUU,Masculino,0,Sim,Sim,72,Sim,Sim,Nao,...,SemInternet,SemInternet,SemInternet,2 anos,Nao,CartaoCredito,24.10,1734.65,Nao,NaN
1,4528,9688-YGXVR,Feminino,0,Nao,Nao,44,Sim,Nao,Fibra,...,Nao,Sim,Nao,Mensal,Sim,CartaoCredito,88.15,3973.2,Nao,NaN
2,6344,9286-DOJGF,Feminino,1,Sim,Nao,38,Sim,Sim,Fibra,...,Nao,Nao,Nao,Mensal,Sim,DebitoAutomatico,74.95,2869.85,Sim,NaN
3,6739,6994-KERXL,Masculino,0,Nao,Nao,4,Sim,Nao,DSL,...,Nao,Nao,Sim,Mensal,Sim,BoletoEletronico,55.90,238.5,Nao,NaN
4,432,2181-UAESM,Masculino,0,Nao,Nao,2,Sim,Nao,DSL,...,Nao,Nao,Nao,Mensal,Nao,BoletoEletronico,53.45,119.5,Nao,NaN

In [15]:
#renomear colunas
df = df.rename(columns={"IDCliente":"IDcliente"})
df.head(10)

,Unnamed: 0,IDcliente,Genero,Aposentado,Casado,Dependentes,MesesComoCliente,ServicoTelefone,MultiplasLinhas,ServicoInternet,...,ServicoSuporteTecnico,ServicoStreamingTV,ServicoFilmes,TipoContrato,FaturaDigital,FormaPagamento,ValorMensal,TotalGasto,Churn,Codigo
0,1869,7010-BRBUU,Masculino,0,Sim,Sim,72,Sim,Sim,Nao,...,SemInternet,SemInternet,SemInternet,2 anos,Nao,CartaoCredito,24.10,1734.65,Nao,NaN
1,4528,9688-YGXVR,Feminino,0,Nao,Nao,44,Sim,Nao,Fibra,...,Nao,Sim,Nao,Mensal,Sim,CartaoCredito,88.15,3973.2,Nao,NaN
2,6344,9286-DOJGF,Feminino,1,Sim,Nao,38,Sim,Sim,Fibra,...,Nao,Nao,Nao,Mensal,Sim,DebitoAutomatico,74.95,2869.85,Sim,NaN
3,6739,6994-KERXL,Masculino,0,Nao,Nao,4,Sim,Nao,DSL,...,Nao,Nao,Sim,Mensal,Sim,BoletoEletronico,55.90,238.5,Nao,NaN
4,432,2181-UAESM,Masculino,0,Nao,Nao,2,Sim,Nao,DSL,...,Nao,Nao,Nao,Mensal,Nao,BoletoEletronico,53.45,119.5,Nao,NaN
5,2215,4312-GVYNH,Feminino,0,Sim,Nao,70,Nao,SemTelefone,DSL,...,Sim,Nao,Sim,2 anos,Sim,DebitoAutomatico,49.85,3370.2,Nao,NaN
6,5260,2495-KZNFB,Feminino,0,Nao,Nao,33,Sim,Sim,Fibra,...,Nao,Nao,Sim,Mensal,Sim,BoletoEletronico,90.65,2989.6,Nao,NaN
7,6001,4367-NHWMM,Feminino,0,Nao,Nao,1,Nao,SemTelefone,DSL,...,Nao,Nao,Nao,Mensal,Sim,BoletoImpresso,24.90,24.9,Nao,NaN
8,1480,8898-KASCD,Masculino,0,Nao,Nao,39,Nao,SemTelefone,DSL,...,Sim,Nao,Nao,Anual,Nao,BoletoImpresso,35.55,1309.15,Nao,NaN
9,5137,8016-NCFVO,Masculino,1,Nao,Nao,55,Sim,Sim,Fibra,...,Sim,Sim,Sim,Mensal,Sim,BoletoEletronico,116.50,6382.55,Nao,NaN

In [16]:
#numero de linhas e colunas
df.shape

(5986, 23)

In [17]:
#retorna os nomes das colunas
df.columns

Index(['Unnamed: 0', 'IDcliente', 'Genero', 'Aposentado', 'Casado',
       'Dependentes', 'MesesComoCliente', 'ServicoTelefone', 'MultiplasLinhas',
       'ServicoInternet', 'ServicoSegurancaOnline', 'ServicoBackupOnline',
       'ProtecaoEquipamento', 'ServicoSuporteTecnico', 'ServicoStreamingTV',
       'ServicoFilmes', 'TipoContrato', 'FaturaDigital', 'FormaPagamento',
       'ValorMensal', 'TotalGasto', 'Churn', 'Codigo'],
      dtype='object')

In [18]:
#tipo de ddos cada coluna
df.dtypes

Unnamed: 0                  int64
IDcliente                  object
Genero                     object
Aposentado                  int64
Casado                     object
Dependentes                object
MesesComoCliente            int64
ServicoTelefone            object
MultiplasLinhas            object
ServicoInternet            object
ServicoSegurancaOnline     object
ServicoBackupOnline        object
ProtecaoEquipamento        object
ServicoSuporteTecnico      object
ServicoStreamingTV         object
ServicoFilmes              object
TipoContrato               object
FaturaDigital              object
FormaPagamento             object
ValorMensal               float64
TotalGasto                 object
Churn                      object
Codigo                    float64
dtype: object

In [20]:
#ultimas linhas
df.tail()

,Unnamed: 0,IDcliente,Genero,Aposentado,Casado,Dependentes,MesesComoCliente,ServicoTelefone,MultiplasLinhas,ServicoInternet,...,ServicoSuporteTecnico,ServicoStreamingTV,ServicoFilmes,TipoContrato,FaturaDigital,FormaPagamento,ValorMensal,TotalGasto,Churn,Codigo
5981,3772,0684-AOSIH,Masculino,0,Sim,Nao,1,Sim,Nao,Fibra,...,Nao,Sim,Sim,Mensal,Sim,BoletoEletronico,95.00,95,Sim,NaN
5982,5191,5982-PSMKW,Feminino,0,Sim,Sim,23,Sim,Sim,DSL,...,Sim,Sim,Sim,2 anos,Sim,CartaoCredito,91.10,2198.3,Nao,NaN
5983,5226,8044-BGWPI,Masculino,0,Sim,Sim,12,Sim,Nao,Nao,...,SemInternet,SemInternet,SemInternet,Mensal,Sim,BoletoEletronico,21.15,306.05,Nao,NaN
5984,5390,7450-NWRTR,Masculino,1,Nao,Nao,12,Sim,Sim,Fibra,...,Nao,Sim,Sim,Mensal,Sim,BoletoEletronico,99.45,1200.15,Sim,NaN
5985,860,4795-UXVCJ,Masculino,0,Nao,Nao,26,Sim,Nao,Nao,...,SemInternet,SemInternet,SemInternet,Anual,Nao,CartaoCredito,19.80,457.3,Nao,NaN

In [21]:
#estatica
#std = desvio padr√£o
df.describe()

        Unnamed: 0   Aposentado  MesesComoCliente  ValorMensal  Codigo
count  5986.000000  5986.000000       5986.000000  5986.000000     0.0
mean   3533.561310     0.161377         32.468760    64.802213     NaN
std    2035.705666     0.367909         24.516391    30.114702     NaN
min       0.000000     0.000000          0.000000    18.250000     NaN
25%    1777.250000     0.000000          9.000000    35.650000     NaN
50%    3546.500000     0.000000         29.000000    70.400000     NaN
75%    5291.750000     0.000000         56.000000    89.900000     NaN
max    7042.000000     1.000000         72.000000   118.750000     NaN

In [22]:
df["ValorMensal"].unique()

array([24.1 , 88.15, 74.95, ..., 59.25, 35.35, 21.15])

In [27]:

valor = df.loc[df["ValorMensal"] == 21.15]
valor.head()

,Unnamed: 0,IDcliente,Genero,Aposentado,Casado,Dependentes,MesesComoCliente,ServicoTelefone,MultiplasLinhas,ServicoInternet,...,ServicoSuporteTecnico,ServicoStreamingTV,ServicoFilmes,TipoContrato,FaturaDigital,FormaPagamento,ValorMensal,TotalGasto,Churn,Codigo
5983,5226,8044-BGWPI,Masculino,0,Sim,Sim,12,Sim,Nao,Nao,...,SemInternet,SemInternet,SemInternet,Mensal,Sim,BoletoEletronico,21.15,306.05,Nao,NaN

In [30]:
df.groupby("Genero")["MesesComoCliente"].nunique()

Genero
Feminino     73
Masculino    73
Name: MesesComoCliente, dtype: int64

In [32]:
df.groupby("MesesComoCliente")["ValorMensal"].mean()

MesesComoCliente
0     38.225000
1     50.678235
2     56.530670
3     58.108580
4     55.542857
        ...
68    74.716854
69    70.393506
70    79.696667
71    72.955592
72    80.944481
Name: ValorMensal, Length: 73, dtype: float64

In [34]:
df["ValorMensal"].mean()

64.80221349816237

In [36]:
df["ValorMensal"].sum()

387906.05